<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Learning Crud</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    
                </div>
            </nav>

            <section class="hero is-dark">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Quotez</h1>
                        <h2 class="subtitle">Crudquotez</h2>
                    </div>
                </div>
            </section>

            
            <div>    
            <h4 class="title is-4">Creation</h4>
            <form action="/quotes" method="POST">
                <input type="text" placeholder="name" name="name">
                <input type="text" placeholder="quote" name="quote">
                <button type="submit" class="button is-primary is-small">Add Quote</button>
            </form>
            </div>

            <div>
            <h4 class="title is-4">Reading Quotes</h4>
            
            <div class="columns quotes">
                <% for(var i=0; i<quotes.length; i++){%>
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <%= quotes[i].name %>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            <%= quotes[i].quote %>
                        </div>
                        
                    </article>
                </div>
                <%}%>
            </div>
            </div>

            <div>
                <h4 class="title is-4">Replacing Quota's Last Quote With Grey's quote(update)</h4>
                <form>
                <input type="text" name="change" placeholder="Name to be changed" id= "change" value="">
                <input type="text" name="name" placeholder="New Name" id= "name" value="">
                <input type="text" name="name" placeholder="New quote" id= "quote" value="">
                <button id="update" class="button is-warning is-small"> Update Quote </button>
                </form>
            </div>

            <div>
                <h4 class="title is-4">Deleting Grey's 1st quote (Delete)</h4>
                <form>
                <input type="text" name="remove" placeholder="Name to be removed" id="remove" value="">
                <button id="delete" class="button is-danger is-small">Delete Quote</button>
                </form>    
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="content has-text-centered">
                        <p><strong>Quotez</strong> by <a href="https://github.com/m3rryqold" target="_blank">Grey</a></p>
                    </div>
                </div>
            </footer>

        </div>
        </section>
        
        <script src="main.js">
            
        </script>
    </body>
</html>